.transfer {
    padding: 1rem;
    background-color: #fff;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 10px;
}

.transfer>h2 {
    font-family: 'Arapey', serif;
    margin-bottom: 5px;
}

.transfer .form-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}

.transfer .form-group select {
    width: 50%;
    border-radius: 10px;
    height: 30px;
    background: #f1f5f9;
    padding-left: 10px;
}

.transfer .form-group label {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}

.transfer .form-group>div>input {
    width: 90%;
    background: #f1f5f9;
    padding: 4px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
}

.transfer .transfer-btn button {
    padding: 6px;
    margin: 5px;
    margin-left: 15px;
    background-color: #DD2F6E;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #DD2F6E;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .transfer .form-group select {
        width: 90%;
    }
}